@font-face {
  font-family: 'thurston_ercregular';
  src: url('fonts/thurston_erc-webfont.eot');
  src: url('fonts/thurston_erc-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/thurston_erc-webfont.woff2') format('woff2'), url('fonts/thurston_erc-webfont.ttf') format('truetype'), url('fonts/thurston_erc-webfont.svg#thurston_ercregular') format('svg'), url('fonts/thurston_erc-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gooddog_plainregular';
  src: url('fonts/good-webfont.eot');
  src: url('fonts/good-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/good-webfont.woff') format('woff'), url('fonts/good-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MP-Reg';
  src: url('fonts/MyriadPro-Regular.eot');
  src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MP-SbCond';
  src: url('fonts/MyriadPro-SemiboldCond.eot');
  src: url('fonts/MyriadPro-SemiboldCond.eot?#iefix') format('embedded-opentype'), url('fonts/MyriadPro-SemiboldCond.woff') format('woff'), url('fonts/MyriadPro-SemiboldCond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MP-Cond';
  src: url('fonts/MyriadPro-Cond.eot');
  src: url('fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'), url('fonts/MyriadPro-Cond.woff') format('woff'), url('fonts/MyriadPro-Cond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MP-It';
  src: url('fonts/MyriadPro-It.eot');
  src: url('fonts/MyriadPro-It.eot?#iefix') format('embedded-opentype'), url('fonts/MyriadPro-It.woff2') format('woff2'), url('fonts/MyriadPro-It.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MP-B';
  src: url('fonts/MyriadPro-Bold.eot');
  src: url('fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/MyriadPro-Bold.woff') format('woff'), url('fonts/MyriadPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Scheherazade';
  src: url(fonts/ScheherazadeRegular.ttf);
}
/* SIL Open Font License, Version 1.1
   Located here: fonts/SIL Open Font License 1.1.txt */
@font-face {
  font-family: 'ChunkFive';
  src: url(fonts/Chunkfive.otf);
}
@font-face {
  font-family: 'GothamBook';
  src: url(fonts/Gotham-Book.otf);
}
@font-face {
  font-family: 'Gotham';
  src: url(fonts/Gotham-Medium.otf);
  font-weight: normal;
}
@font-face {
  font-family: 'GothamBold';
  src: url(fonts/Gotham-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: 'GothamBlack';
  src: url(fonts/Gotham-Black.otf);
}
@font-face {
  font-family: 'Museo';
  src: url(fonts/Museo700-Regular.otf);
}

