$blue: #2d74c8;
$blue_light: #4893f0;
$blue_dark: #1f518f;
$blue2: #55c8dc;
$blue2_light: #81e9fc;
$blue2_dark: #3494a5;
$blue3: #e6eff5;
$blue4: #40b1d8;
$blue5: #b4d6ec;
$blue6: #2da6ea;
$red: #c93434;
$red_light: #d74d4d;
$red_dark: #922222;
$green: #5ea70c;
$green_light: #79bd2d;
$green_dark: #497a11;
$green2: #9ad262;
$green2_light: #b5ee7c;
$green2_dark: #72a142;
$green3: #7AC043;
$green3_light: #87EB4E;
$green_alpha: rgba(94, 167, 12, 0.8);
$yellow: #ffb521;
$yellow_light: #f0bf5e;
$yellow_dark: #c59026;
$yellow2: #ffcb22;
$yellow3: #f4bb15;
$orange: #eeb425;
$orange_light: #f5c856;
$orange_dark: #be8b0a;
$orange_darker: #e2ac1f;
$orange2: #da5f38;
$orange2_light: #e76b44;
$orange2_dark: #b64d2d;
$purple: #7d447b;
$purple_light: #b967b7;
$purple_dark: #421d41;
$purple2: #7f7cce;
$purple2_light: #9996f5;
$purple2_dark: #4e4c94;
$purple3: #7137b8;
$purple3_light: #9252e0;
$purple3_dark: #502486;
$white: #ffffff;
$white_light: #e4e4e4;
$white_dark: #9c9c9c;
$black: #0c0c0c;
$gray1: #4a4a4a;
$gray2: #252525;
$gray3: #cccccc;
$gray4: #9c9c9c;
$pink: #da85ca;
$pink_light: #fad8de;