{% load static %}
{% load blog_tags %}
{% load common_tags %}

{% if request.is_ajax and not request.GET.page %}
    <div class="post-item InfiniteScroll"
         data-url="{{ post.get_absolute_url }}"
         data-number_pages="{{ paginator.num_pages }}"
         data-loaded_pages="1"
         data-append_el=".item">
{% endif %}

{% for post in object_list %}
    <div class="item col-xs-12 col-sm-6 p-0">
        <div class="item-image">
            <a href="{{ post.get_single_page_url }}">
                <img src="{{ post.post_list_thumbnail_url }}" alt="Can not load image">
            </a>
        </div>
        <div class="item-info">
            <a href="{{ post.get_single_page_url }}" class="action d-flex justify-content-between align-items-center">
                <div class="info">
                    <div class="title">
                        {{ post.name }}
                    </div>
                    <div class="description">
                        {{ post.short_description }}
                    </div>
                </div>
                <div class="action">
                    <span class="icon-view"></span>
                </div>
            </a>
        </div>
    </div>
{% empty %}
    <h2 class="notify">No posts in this category</h2>
{% endfor %}
{% if request.is_ajax and not request.GET.page %}
    </div>
{% endif %}